body{
    font-family: Arial, sans-serif ;
}

h1{
    background-color:#ffdb8f;
}

h2{
    font-style: oblique;
    color: cadetblue;
}

.a{
    font-style: oblique;
    color: lightsteelblue;
}

.b{
    font-weight:bold;
    color: #6f92a7;
}

.c{
    margin-left: 30px;
}
